<section class="bg-brown py4">

  <h3 class="serif h2 white center">From the Enso community</h3>

  <div class="main-carousel border-box px3 col-12 md-col-8 lg-col-6 mx-auto" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false, "autoPlay": 20000 }'>
    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“I love the idea of Enso, a palpable way to connect with someone who you cannot be with at the moment. I will be capturing the heart beats of my family members…</p>
        <p class="sans p book">I am going to be also using to capture the heartbeat of a very close friend that I often miss and will also be gifting it to her.“</p>
        <cite class="sans p book">— J</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“I am planning to give one to my love and keep one for myself... At first, I just wanted to get one for him so that when he’s away, he’d have a physical representation of knowing he had my heart with him. </p>
        <p class="sans p book">When I saw that you could each hold the enso and feel each other’s heartbeat live, in the moment, I knew I had to have two."</p>
        <cite class="sans p book">- Anima</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“My Mom is a Holocaust survivor and is in stages of dementia. My daughter is having a baby in 2 weeks and I am planning to give the Enso as a gift to my daughter, with my Moms heartbeat ❤️"</p>
        <cite class="sans p book">- H.P.</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“My first thought is to save my father's (Papa) heartbeat. I don’t see him often; he’s 74 years old as healthy-as-a-horse and a tough-as-nails cowboy. He’s not going anywhere anytime soon but I’d hate to know I could have captured the feeling of being with him when I could have and then didn’t... Papa’s a big softy and I know it will be as meaningful for him as it is for me."</p>
        <cite class="sans p book">- K.T.</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12 is-selected" style="">
      <blockquote class="white">
        <p class="sans p book">“We have had some tough losses in the family in recent years. I thought this would be a tremendous way to capture and hold a piece of cherished loved ones. Eternally. A visceral reminder and means of staying connected wherever, whenever, and for whatever reason one desires."</p>
        <cite class="sans p book">- Anonymous</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“I am planning to use [Enso] to capture the heartbeats of the people that capture my heart. They will be a collection of the people that have played important roles in my life. I will leave mine on there for fun and then leave it for my daughter to carry on on the legacy and her own heartbeats.”</p>
        <cite class="sans p book">- Wendi Michelle</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“I will be giving the Enso to my wife for Christmas. 2 years ago, my wife gave birth to our son, she finds it very hard leaving him everyday for work...My plan is to have our son hold it, then wrap it up, Christmas morning she will get the gift of always having him with her.”</p>
        <cite>- Anonymous</cite>
      </blockquote>
    </div>

    <div class="carousel-cell col-12" style="">
      <blockquote class="white">
        <p class="sans p book">“It's a present for my husband who travels a lot. I would like to have our son's heartbeat always with him ❤"</p>
        <cite class="sans p book">- Anonymous</cite>
      </blockquote>
    </div>
  </div>
</section>
