<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link href="/css/application.css" rel="stylesheet">
    <script src="https://use.typekit.net/vkx0hel.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="bg-curtain">
    {{ content }}
    <footer class="center">
      <p class="sans p px2 py4 mt4">
        &copy; 2017 Enso. All rights reserved.
        <a href="/about/"  class="slate" >About</a> ∙
        <a href="/faq/"  class="slate" >FAQ</a> ∙
        <a href="/termsofservice/"  class="slate" >Terms of service</a> ∙
        <a href="/termsofsale/"  class="slate" >Terms of sale</a> ∙
        <a href="/privacy/"class="slate" >Privacy policy</a> ∙
        <a href="mailto:{{ site.email }}" class="slate" >Contact us</a>
      </p>
    </footer>
    <script src="https://www.trycelery.com/js/celery.js"></script>
  </body>
</html>

