<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    {% seo %}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="Keep the heartbeat of someone you love... forever." property="og:title" >
    <meta content="Order an Enso today" property="og:description">
    <meta content="http://shareenso.com/self-hug.jpg" property="og:image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/vkx0hel.css">
    <link href="/css/application.css" rel="stylesheet">

  </head>
  <body class="{% if page.curtain == true %}bg-curtain {% else %}bg-white{% endif %}">
    {% unless page.permalink == "/" %}
    <div class="col-12">
      <div class="container mx-auto bg-white z4">
        <div class="px2 py1 flex flex-center">
          <div class="flex-auto">
            <a href="/" class="block">
              <img src="/img/enso-logo.png" width="80" class="block" alt="Logo">
            </a>
          </div>
          <a href="/about/"  class="book peach h5 sans inline-block px1 flex-none md-show" >About</a>
          <a href="mailto:support@shareenso.com" class="book h5 peach px1 mr1 sans inline-block flex-none md-show" >Contact</a>
          <div class="flex-none">
            <a href="javascript:void(0)" class="white sans center btn bg-peach btn-pill btn-sm block" style="font-family:futura-pt" data-celery="58c5dd495999cc1200f9381a">Order an Enso</a>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}
    {{ content }}
    <footer class="center bg-white pt4">
      <p class="sans p px2 py4">
        &copy; {{ 'now' | date: "%Y" }} Enso Co. All rights reserved.
        <a href="/about/" class="slate">About</a> ∙
        <a href="/faq/" class="slate">FAQ</a> ∙
        <a href="/termsofservice/" class="slate">Terms of service</a> ∙
        <a href="/termsofsale/" class="slate">Terms of sale</a> ∙
        <a href="/privacy/" class="slate" >Privacy policy</a> ∙
        <a href="https://www.facebook.com/sharelove.enso/" class="slate">Facebook</a> ∙
        <a href="https://www.instagram.com/sharelove.enso/" class="slate">Instagram</a> ∙
        <a href="mailto:{{ site.email }}" class="slate">Contact us</a>
      </p>
    </footer>
    <script src="https://www.trycelery.com/js/celery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js"></script>
    <script src="/js/sticky.min.js"></script>
    <script>
      // https://github.com/cferdinandi/smooth-scroll
var scroll = new SmoothScroll('a[href*="#"]');

new Sticky({
  target: '.js-sticky',
  offset: 200
});
    </script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-93577403-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
          document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '948354278615498'); // Insert your pixel ID here.
fbq('track', 'PageView');
    </script>
    <noscript>&lt;img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=948354278615498&amp;ev=PageView&amp;noscript=1"
      /&gt;</noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
  </body>
</html>

