<html lang="en">
  <head>
    {% seo %}
    <meta charset="utf-8">
        <meta content="Keep the heartbeat of someone you love... forever." property="og:title" >
        <meta content="Reserve an Enso today" property="og:description">
        <meta content="http://shareenso.com/self-hug.jpg" property="og:image">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.min.css" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/application.css" rel="stylesheet">
    <script src="https://use.typekit.net/vkx0hel.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '360081807786721');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=360081807786721&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

  </head>
  <body class="{% if page.bg_white == true %}bg-white {% else %}bg-curtain{% endif %}">
    {{ content }}
    <footer class="center">
      <p class="sans p px2 py4 mt4">
        &copy; 2017 Enso. All rights reserved.
        <a href="/about/"  class="slate" >About</a> ∙
        <a href="/faq/"  class="slate" >FAQ</a> ∙
        <a href="/termsofservice/"  class="slate" >Terms of service</a> ∙
        <a href="/termsofsale/"  class="slate" >Terms of sale</a> ∙
        <a href="/privacy/"class="slate" >Privacy policy</a> ∙
        <a href="mailto:{{ site.email }}" class="slate" >Contact us</a>
      </p>
    </footer>
    <script src="https://www.trycelery.com/js/celery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.9/flickity.pkgd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.0/js/smooth-scroll.min.js"></script>
        <script src="/js/sticky.min.js"></script>
        <script>
          new Sticky({
            target: '.js-sticky',
            offset: 200
          });
          // https://github.com/cferdinandi/smooth-scroll
          var scroll = new SmoothScroll('a[href*="#"]');
        </script>
        <script>
          window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-93577403-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>


  </body>
</html>

