---
layout: default
---

<h1 class="m0 center serif h1 slate">
  {{ page.title }}
</h1>

<div class="prose sm-container mx-auto sans">
  {{ content }}
</div>

<div class="bg-white">
  <div class="flex flex-center mx-auto" style="background-size: cover; background-repeat: no-repeat; width: 604px; height: 303px; max-width: 100%;">
    <div class="px4 center col-12" >
      <h2 class="serif h2 slate">{{ page.headline | default: "Order an Enso today" }}</h2>
      <p class="sans p px3">{{ page.subhead | default: "Ships in 2-3 weeks. Available only in the USA and Canada." }}</p>
      <a href="javascript:void(0)" class="mt2 white sans center btn bg-peach btn-pill inline-block mx-auto book" data-celery="58c5dd495999cc1200f9381a">
        <span class="sm-show">{{ page.cta | default: "Order an Enso for someone you love" }}</span>
        <span class="sm-hide">Order an Enso</span>
      </a>

    </div>
  </div>
</div>

